<apex:page controller="RecordingsWizardController">
	<script type="text/javascript" src="/soap/ajax/34.0/connection.js"/>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.min.js"></script>
	<script type="text/javascript">
		String.prototype.startsWith = function (str){
			return this.indexOf(str) === 0;
		};
		var recordings = angular.module('recordings', ['ngSanitize'])
			.factory('getTranscriptLine', ['$rootScope', function($rootScope) {
				var assgnmntArr = [];
				return assgnmntArr;
			}])
			.filter('startFrom', function() {
				
			})
			.controller('recordingsController', [
					'$scope',
					'$filter',
					'getTranscriptLine',
					function($scope, $filter, getTranscriptLine) {

				var cachedArtists = [];
				var queryHistory = [];
				$scope.o = {};
				$scope.o.albumFields = [
						{ 'fieldAPIName':'Account__c', 'inputType':'' },
						{ 'fieldAPIName':'EANISBN__c', 'inputType':'text' },
						{ 'fieldAPIName':'Format__c', 'inputType':'text' },
						{ 'fieldAPIName':'IsDigital__c', 'inputType':'checkbox' },
						{ 'fieldAPIName':'IsSampler__c', 'inputType':'checkbox' },
						{ 'fieldAPIName':'Language__c', 'inputType':'text' },
						{ 'fieldAPIName':'Name', 'inputType':'text' }
				];
				$scope.o.albumToInsert = {};
				$scope.o.artistName = '';
				$scope.o.artists = [];
				$scope.o.errors = [];
				$scope.o.insertedAlbum = {};
				$scope.o.mode = 'accountSearch';
				$scope.o.selectedAccount = {};
				$scope.o.songsFields = [
						{ 'fieldAPIName':'Account__c', 'inputType':'' },
						{ 'fieldAPIName':'EANISBN__c', 'inputType':'text' },
						{ 'fieldAPIName':'Length__c', 'inputType':'text' },
						{ 'fieldAPIName':'TrackNumber__c', 'inputType':'number' }
				];
				$scope.o.songsToInsert = [];

				$scope.addRowToSongs = function() {
					$scope.o.songsToInsert.push(
							{ 'Account__c':'' },
							{ 'EANISBN__c':'' },
							{ 'Length__c':'0.00' },
							{ 'TrackNumber__c':1 }
					);
				}

				$scope.addRowToSongs();

				$scope.getArtists = function(artistName) {
					var artistNameLength = artistName.length;
					noDiffMessage.style.display = "none";

					if (artistNameLength == 0) {
						$scope.o.artists = [];
					} else {
						$scope.o.artists = getSearchResultsFromCache(artistName);
					}

					if ($scope.o.artists.length == 0) {
						if (artistNameLength > 3) {
							Visualforce.remoting.Manager.invokeAction(
								'{!$RemoteAction.RecordingsWizardController.getArtists}',
								artistName,
								function(data, result, event) {
									if (result) {
										if (result.statusCode === 200 && !data.errorMessage) {
											if (data.accountList && data.accountList.length > 0) {
												$scope.o.artists = data.accountList;
												cachedArtists = cachedArtists.concat(data.accountList);
											} else {
												var noDiffMessage = document.getElementById("noDiffMessage");
												noDiffMessage.style.display = "block";
												setTimeout(
														function() {
															noDiffMessage.style.display = "none";
														},
														5000
												);
											}
										} else {
											pushErrorMessages(result, data);
										}
										$scope.$apply();
									}
								}
							);
						}
						if (artistNameLength > 1 && queryHistory.indexOf(artistName) == -1) {
							queryHistory.push(artistName);
						}
					}
				}

				$scope.createAlbum = function() {
					$scope.o.albumToInsert.Account__c = $scope.o.selectedAccount.Id;
					Visualforce.remoting.Manager.invokeAction(
							'{!$RemoteAction.RecordingsWizardController.createAlbum}',
							JSON.stringify($scope.o.albumToInsert),
							function(data, result, event) {

							if (result) {
								if (result.statusCode === 200 && !data.errorMessage) {
									if (data.album) {
										console.log(data);
										$scope.o.insertedAlbum = data.album;
										$scope.o.mode = 'songs';
									}
								} else {
									pushErrorMessages(result, data);
								}
								$scope.$apply();
							}
						}
					);
				}

				function pushErrorMessages(result, data) {
					if (result.message) {
						$scope.o.errors.push(result.message);
					}
					if (data.errorMessage) {
						$scope.o.errors.push(htmlDecode(data.errorMessage));
					}
				}

				function getIsQueryHistoryExists(artistName) {
					var isQueryHistoryExists = false;
					var queryHistoryLength = queryHistory.length;
					if (queryHistoryLength > 0) {
						var i = 0;
						while (!isQueryHistoryExists && i < queryHistoryLength) {
							var queryHistoryItem = queryHistory[i];
							if (artistName.startsWith(queryHistoryItem)) {
								isQueryHistoryExists = true;
							}
							i++;
						}
					}
					return isQueryHistoryExists;
				}

				function getSearchResultsFromCache(artistName) {
					var historyExists = false;
					var cachedArtistsLength = cachedArtists.length;
					var searchResultsFromCache = [];
					if (cachedArtistsLength > 0) {
						for (var i = 0; i < cachedArtistsLength; i++) {
							var cachedArtist = cachedArtists[i];
							if (cachedArtist.Name
									&& cachedArtist.Name.startsWith(artistName)) {
								searchResultsFromCache.push(cachedArtist);
							}
						}
					}
					if (false && searchResultsFromCache.length > 1) {
						searchResultsFromCache.sort(sortByFields(a, b));
					}
					return searchResultsFromCache;
				}

				function sortByFields(a, b) {
					var comparisonResult;
					if (a.Name > b.Name) {
						comparisonResult = 1;
					} else if (a.Name < b.Name) {
						comparisonResult = -1;
					} else {
						comparisonResult = 0;
					}
					return comparisonResult;
				}

				function htmlDecode(input) {
					var elem = document.createElement('div');
					elem.innerHTML = input;
					return elem.childNodes.length === 0
							? ''
							: elem.childNodes[0].nodeValue;
				}
			}]);
	</script>
	<div ng-app="recordings">
		<div ng-controller="recordingsController">
			<div ng-if="o.errors.length > 0">
				<div class="paddingBottom15px" role="alert">
					<span ng-repeat="error in o.errors">
						{{error}}
					</span>
				</div>
			</div>
			<div ng-if="o.mode == 'accountSearch'">
				<input id="artistName" ng-model="o.artistName" ng-change="getArtists(o.artistName)"/>
				<table ng-if="o.artists.length > 0" class="list" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr ng-repeat="artist in o.artists" class="dataRow even last first">
							<td class="dataCell" ng-click="o.selectedAccount = artist; o.mode = 'album'">
								{{artist.Name}}
							</td>
						</tr>
					</tbody>
				</table>
				<label id="noDiffMessage" class="paddingTop20px" style="display: none;">
					Nothing found
				</label>
			</div>
			<div ng-if="o.mode == 'album'">
				<table class="list" border="0" cellspacing="0" cellpadding="0">
					<thead>
						<tr class="dataRow even last first">
							<th class="dataCell" ng-repeat="field in o.albumFields" >
								{{field.fieldAPIName}}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="dataRow even last first">
							<td class="dataCell" ng-repeat="field in o.albumFields" >
								<input ng-if="field.inputType == 'checkbox'" type="checkbox" ng-model="o.albumToInsert[field.fieldAPIName]"/>
								<input ng-if="field.inputType == 'text'" type="text" ng-model="o.albumToInsert[field.fieldAPIName]"/>
								<span ng-if="!field.inputType"> {{o.selectedAccount.Name + ' (' + o.selectedAccount.Id + ')' }} </span>
							</td>
						</tr>
					</tbody>
				</table>
				<button ng-click="createAlbum()">
					Next
				</button>
			</div>
			<div ng-if="o.mode == 'songs'">
				<table class="list" border="0" cellspacing="0" cellpadding="0">
					<thead>
						<tr class="dataRow even last first">
							<th class="dataCell" ng-repeat="field in o.songsFields" >
								{{field.fieldAPIName}}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="dataRow even last first">
							<td class="dataCell" ng-repeat="field in o.songsFields">
								<input ng-if="field.inputType == 'checkbox'" type="checkbox" ng-model="o.albumToInsert[field.fieldAPIName]"/>
								<input ng-if="field.inputType == 'text'" type="text" ng-model="o.albumToInsert[field.fieldAPIName]"/>
								<span ng-if="!field.inputType"> {{o.selectedAccount.Name + ' (' + o.selectedAccount.Id + ')' }} </span>
							</td>
							<td ng-if="o.songsToInsert.length > 0">
								<button ng-click="o.songsToInsert.splice($index)">
									Remove Row
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				<button ng-click="addRowToSongs()">
					Add Row
				</button>
			</div>
			<div ng-if="o.mode == 'success'">
				<span>Records were successfully created</span>
				<button ng-click="location.reload()">
					New
				</button>
			</div>
		</div>
	</div>
</apex:page>